[submodule ".themes/object"]
	path = .themes/object
	url = https://github.com/gluttony/object-octopress-theme.git
[submodule ".themes/fabric"]
	path = .themes/fabric
	url = https://github.com/panks/fabric.git
