[submodule ".themes/object"]
	path = .themes/object
	url = https://github.com/gluttony/object-octopress-theme.git
[submodule ".themes/fabric"]
	path = .themes/fabric
	url = https://github.com/panks/fabric.git
[submodule ".themes/bootstrap"]
	path = .themes/bootstrap
	url = git@github.com:barmstrong/octopress-bootstrap.git
